@charset "UTF-8";

/* 전체 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: poppins;
}
/* 배경색 */
body{
	background-color: #D2E0EE;
}
/* 중앙배치및 그림자 */
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0 50px 50px -50px;
}
/* 입력창 제어 */
.container .myform{
	width: 270px;
	margin-right: 30px;
}
/* 입력창 주제 */
.container .myform h2{
	color:#1c1c1e;
	margin-bottom: 20px;
}
/* 입력란 */
.container .myform input{
	border: none;
	outline: none;
	border-radius: 0;
	widht: 100%; 
	border-bottom: 2px solid #1c1c1e;
	margin-bottom: 25px;
	padding: 7px 0;
	font-size: 14px;
}
/* 버튼 */
.container .myform button{
	color: white;
	background-color: #1c1c1e;
	border: none;
	outline: none;
	border-radius: 2px;
	font-size: 14px;
	padding: 5px 12px;
	font-weight: 500;
}
.container .myform button:hover{
	background-color: #9854FF;
	cursor: pointer;
}
/* 이미지 크기 */
.image img{
	width: 300px;
}
