@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}
img{
	width: 280px;
	height: 360px;
}
.card-box{
	overflow: hidden;
	margin: 16px; 
	position: relative;
	border-radius: 8px;
	width: 280px;
	height: 360px;
	box-shadow: 0 20px 35px rgba(0,0,0,.26);
	transition: 0.5s;
}

.text-wrap{
	position: absolute;
	bottom: 0;
	padding: 24px; 
	
	
}

.text-wrap h1{
	color:#000;
}
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
}
.card-box:hover{
	transform: scale(0.95);
	
}