@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}

body{
	background: #e8edf2;
	position: relative;
}

#header{
    height: 150px;
}
#main{
   position: relative;
	top : 262px;
	left: 270px;
}

#mainLeft{
	position: absolute;
    left: 5%;
    transform: translate(41px, -288px);
    padding: 30px;
    background: yellow;
    border-right: 2px solid #000;
}

#mainRight{
position: absolute;
    top: 50%;
    padding: 30px;
    background: coral;
    left: 41%;
    transform: translate(-30%, -60%);
    border-left: 2px solid #000;
}

#section{
  position: relative;
    width: 10%;
    left: 75%;
    height: 49vh;
    bottom: 23px;
    background: #fff;
}
#footer{
	width: 1000px;
    height: 200px;
    margin-left: 450px;
}
.banner {
	position: relative;
	display: inline-block;
	margin-top: 45px;
}
.banner img{
	max-width: 100%;
}
.banner span.text {
	position: absolute;
	top:30%;
	transform:translate(-50%);
	display: none;
	width: 100%;
	font-size: 70px;
	color: #fff;
	font-weight: 900;
	text-align: center; 
	padding-left: 100%;
}
.banner::before, .banner::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 95%;
	height: 70%;
	transform: translate(-50%, -50%);
	transition: all .6s;
}
.banner::before{
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	width: 0;
}
.banner::after{
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	height: 0;
}
.banner:hover span.text {display:block;}
.banner:hover::before {width:95%;}
.banner:hover::after {height:70%;}
h3{
    text-align: center;
    margin-top: 30px;
}

#timer{
	text-align: right;
	margin-right: 290px; 
}

table{
	height: 47vh;
    width: 90%; 
}

tr{
	text-align: center;
}

.subBtn{
	display: flex;
	justify-content: right;
	margin-top: 20px;
	margin-right: 258px;
}

.inputBtn{
	height: 40px;
	width: 60px;
	margin-right: 27px;
	cursor: pointer;
}